<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Product</title>
</head>
<body>
<h3>Edit Product</h3>
<form th:object="${product}" th:action="@{/product/edit}" method="post">
    <input th:field="*{idProduct}" hidden>
    Name :
    <input th:field="*{nameProduct}"/><br><br>
    Price :
    <input th:field="*{priceProduct}"/><br><br>
    Type Product :
    <select th:field="*{typeProduct}">
        <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
    </select>
    <button>Save</button>
</form>
</body>
</html>